.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App > p {
  font-weight: lighter;
  font-size: 28px;
}

.wave-btn {
  font-size: 20px;
  background-color: transparent;
  border: solid 1px gray;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.wave-btn:hover {
  background-color: gray;
}
